/* hero------------------------------------------------------------------------------- */
@font-face {
    font-family: "myFirstFont";
    src: url(White-On-Black.ttf);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow-x: clip;
}

.hero-image {
    width: 100%;
    display: flex;
    background-image: linear-gradient(rgba(0, 100, 100, 0.5), rgba(0, 0, 100, 0.5)), url("minimalistic-Background.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: myFirstFont;

}

.hero-text-top {
    font-size: 30px;
    margin-bottom: 0px;
}

.hero-text-middel {
    margin-top: -10px;
    font-size: 70px
}


/* navbar------------------------------------------------------------------------------ */
ul[class="navbar"] {
    height: 75px;
    list-style-type: none;
    margin: 0;
    margin-top: -45px;
    background-color: rgba(7, 25, 85);
    display: flex;
    font-family: "Lucida Console", "Courier New", monospace;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar>button {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.middle {
    display: flex;
    align-items: center;
    width: 50%;
}

.middle>input {
    border-radius: 26px;
    text-align: center;
    width: 98%;
    height: 50%;
    transition: all 0.5s ease-in-out;
}

.middle>input:hover {
    height: 60%;
    width: 100%;
}

li a {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 15px;
}

.left {
    display: flex;
    justify-content: flex-start;
}

.right {
    display: flex;
    justify-content: flex-end;
}

ul>span>button {
    background-color: hsl(226, 85%, 78%);
}

button {
    border-radius: 25px;
    font-size: 20px;
    padding: 10px;
    border: 0px;
}

.profielbutton {
    border: none;
    margin-top: -5px;
    cursor: pointer;
    appearance: none;
    background-color: inherit;

}

.profileLogo:hover {
    width: 75px;
    height: 75px;
    margin-top: -15px;

}

.profileLogo {
    border-radius: 0px;
    margin-top: -7px;
    width: 60px;
    height: 60px;
    transition: all 0.7s ease-in-out;
}
.tussenstuk {
    background: linear-gradient(rgba(7, 25, 85), rgba(255, 255, 255));
    height: 30px;
    width: 100%;
}

/* --------------------------------------dropwdown------------------- */
.menu-item  a {
	text-align: center;
	padding: 5px 0 5px 0;
	font-size: 25px;
	text-decoration: none;
	border-radius: 15px;
	font-weight: bold;

}

.menu-item a:link, .menu-item a:visited {
	color: white;
	background: rgba(7, 25, 85);
	
}

.menu-item a:hover, .menu-item a:active {
	color: rgb(205, 205, 205);
	background: rgba(7, 25, 125);
}

.menu-item ul {
	margin-top: 5px;
	list-style-type: none;
	height: 0px;
	overflow: hidden;
    position: relative;
    left: -50%;
    width: 100%;
	
	-webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.menu-item:hover ul {
	height: 115px;
}

.menu-item ul li a {
	font-size: 20px;
	width: 80%;
    text-align: center;
	margin: 0 auto 0 auto;
	border-radius: 10px;
	margin-top: 5px;
}
/* --------------------------shopping cart--------------------------- */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(228, 228, 228, 1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    cursor: pointer;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
  
    .cardWagen-center {
      margin: 0px
    }
  
    .sidenav a {
      font-size: 18px;
    }
  }
  
  @media only screen and (max-width: 1100px) {
  
    .cardWagen-center {
  
      margin: 0px;
    }
  
  }
  
  .winkelwagenInhoud {
    width: 100%;
    height: 80%;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  
  .winkelwageninhoud-order {
    margin-bottom: 30%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .bestel-button {
    background-color: #04AA6D;
    margin-top: 15px;
    padding: 15px;
    color: white;
    transition: all 0.5s ease-in-out;
  }
  .bestel-button:hover {
    transform: scale(1.1);
    background-color: rgb(0, 102, 29);
  }
  .sidenav>h1 {
    margin-top: -55px
  }
  
  .cardWagen {
    font-size: 12.5px;
    width: 90%;
    /* border: 2px black solid; */
    display: flex;
    justify-content: space-evenly
  }
  
  .cardWagen-left>div>p {
    margin-left: 5px;
  }
  
  .cardWagen-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cardWagen-left>div>img {
    width: 12px;
    height: 10px;
  }
  
  .cardWagen-left>div {
    margin-top: -15%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .cardWagen-center {
    margin: 0 7px 0 7px;
    display: flex;
    align-items: center;
  }
  
  .cardWagen-right {
    display: flex;
    align-items: center;
  }
  
  .cardWagen-right>a {
    color: red;
  }
  
  .cardWagen-right>a:hover {
    color: rgb(100, 0, 0);
  }
  
  .text-left>button:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 1px black;
  }
  
  .text-left>button {
    transition: all 0.2s ease-in-out;
  }